<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_AP_state</title>
    <link rel="stylesheet" href="/admin_AP_state.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a onclick="window.location.href='/Adminaccount'"> Account</a></li>
            <li><a onclick="window.location.href='/AdminResetpassword'"> Reset Password</a></li>
            <li><a onclick="window.location.href='/Adminmanageuser'"> Manage Users</a></li>
            <li><a onclick="window.location.href='/Adminmanagecontent'"> Manage Content</a></li>
            <li><a class="logout"> Logout</a></li>
        </ul>
        <div class="navbar-search">
            <form action="/adminsearch" method="GET" class="navbar-search">
                <input type="text" name="query" id="searchInput" placeholder="Search..." required>
                <button type="submit" class="btn btn-warning" id="searchbtn">Search</button>
            </form>
        </div>
    </nav>

    <div class="parent">
        <h3 class="Edithead">Edit AP Page Contents</h3>
    </div>    

    <div class="container0">
        <h1 id="headname">Latest Andhra Pradesh Government Jobs</h1>
        <div class="header">New Updates</div>
        
        <div class="updates">
            <ul>
                <li><a href="#">New Updates AP Police Constable 2022 Stage II PMT/ PET Call Letter</a></li>
                <li><a href="#">AP Intermediate/ 12th Class 2025 Exam Time Table</a></li>
                <li><a href="#">AP SSC/ 10th Class 2025 Exam Time Table</a></li>
                <li><a href="#">APPSC Medical Officers 2022 Provisional Selection List</a></li>
                <li><a href="#">APMSRB 97 Civil Assistant Surgeon 2024 Online Form</a></li>
                <li><a href="#">APMSRB 280 Civil Assistant Surgeon 2024 Online Form</a></li>
                <li><a href="#">APPSC Deputy Educational Officer 2024 CBT Exam Date</a></li>
                <li><a href="#">APPoliceConstable 2022Stage IIPMT/ PETLastDateExtended</a></li>
                <li><a href="#">AP HC Civil Judge (Jr Division) 2024 Written Exam Marks</a></li>
            </ul>
        </div>
    </div>
    
    <div class="grid-container">
      <div class="grid-item item1">AP 10th Class Exam Date</div>
      <div class="grid-item item2">APPSC Group I Services<br>Exam Date</div>
      <div class="grid-item item3">APPSC Group II Exam<br>Date</div>
      <div class="grid-item item4">Srikakulam DCCB 54<br>Vacancies Apply Now</div>
  </div>
  <div class="grid-container2">
      
      <div class="grid-item2 item5">Krishna DCCB 66<br>Vacancies Apply Now</div>
  </div>

  <h1 id="tbh1">Andhra Pradesh</h1>
  <table>
      <thead>
          <tr>
              <th>Post Date</th>
              <th>Recruitment Board</th>
              <th>Post Name</th>
              <th>Qualification</th>
              <th>Advt No</th>
              <th>Last Date</th>
              <th>More Information</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>07/02/2025</td>
              <td>BEL</td>
              <td>Senior Assistant Officer - 5 Posts</td>
              <td>Any Post Graduate</td>
              <td>-</td>
              <td>26-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr class="th2">
              <td>07/02/2025</td>
              <td>HMFV Tirupati</td>
              <td>Lab Attendant, Attenders & Other - 66 Posts</td>
              <td>B.Sc, Diploma, 10TH, DMLT, BMLT</td>
              <td>1/2024-25</td>
              <td>22-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr>
              <td>06/02/2025</td>
              <td>DCPU Chittoor</td>
              <td>Counsellor, Outreach Worker & Other - 3 Posts</td>
              <td>Any Graduate, MBBS, 12TH, PG Diploma</td>
              <td>-</td>
              <td>10-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr class="th2">
              <td>06/02/2025</td>
              <td>RINL</td>
              <td>Visiting Specialist - 02 Posts</td>
              <td>PG Diploma, MS/ MD</td>
              <td>-</td>
              <td>19-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr>
              <td>05/02/2025</td>
              <td>DMHO Kurnool</td>
              <td>Social Worker, Optometrist & Other - 6 Posts</td>
              <td>MBBS, BASLP, M.A, MSW, B.Optom</td>
              <td>-</td>
              <td>06-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr class="th2">
              <td>05/02/2025</td>
              <td>PM Shri Kendriya Vidyalaya Nellore</td>
              <td>PGT, TGT & Primary Teacher</td>
              <td>Any Graduate, B.Ed, Any Post Graduate</td>
              <td>-</td>
              <td>19-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr>
              <td>05/02/2025</td>
              <td>NDRRM</td>
              <td>Computer Operator, Data Manager & Other - 13762 Posts</td>
              <td>Any Graduate, Diploma, 12TH, Any Post Graduate</td>
              <td>-</td>
              <td>24-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr class="th2">
              <td>31/01/2025</td>
              <td>BEL</td>
              <td>Junior Assistant - 1 Posts</td>
              <td>B.B.A, B.Com, BBM</td>
              <td>BEL/MC/04/2024-25</td>
              <td>21-02-2025</td>
              <td><a href="#">Get Details</a></td>
          </tr>
          <tr>
            <td>31/01/2025</td>
            <td>DMHO Eluru</td>
            <td>DEO, Lab Technician & Other - 18 Posts</td>
            <td>Any Graduate, B.Pharma, B.Sc, 10TH, D.Pharm, DMLT</td>
            <td>-</td>
            <td>03-02-2025</td>
            <td><a href="#">Get Details</a></td>
          </tr>
          <tr class="th2">
            <td>31/01/2025</td>
            <td>DPH&FW Andhra Pradesh</td>
            <td>Lab Technician & Female Nursing - 40 Posts</td>
            <td>10TH, DMLT, BMLT</td>
            <td>01/DMHO/2025</td>
            <td>03-02-2025</td>
            <td><a href="#">Get Details</a></td>
          </tr>
        </tr>
        <tr>
            <td>25/01/2025</td>
            <td>NMDC Apollo Central Hospital, Bacheli</td>
            <td>Medical Professionals</td>
            <td>MBBS, MD/ MS/ DNB/ DGO/ DA</td>
            <td>-</td>
            <td>10-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>21/01/2025</td>
            <td>Prasar Bharati</td>
            <td>Senior Correspondent - 8 Posts</td>
            <td>Degree/ PG Diploma in Relevant Discipline</td>
            <td>-</td>
            <td>30-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>23/01/2025</td>
            <td>TMC</td>
            <td>Assistant, Attendant & Other - 34 Posts</td>
            <td>10TH, 12TH, Diploma, Any Degree, MBBS, MS/ MD, DNB/ CA</td>
            <td>TMC/HBCHRCV/AD/01/2025</td>
            <td>10-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>16/01/2025</td>
            <td>Krishna DCCB</td>
            <td>Staff Assistant/Clerks - 66 Posts</td>
            <td>Any Graduate</td>
            <td>-</td>
            <td>22-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>16/01/2025</td>
            <td>The District Cooperative Central Bank Limited</td>
            <td>Assistant Manager And Staff Assistant/Clerks - 54 Posts</td>
            <td>Any Graduate</td>
            <td>-</td>
            <td>22-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>16/01/2025</td>
            <td>Kurnool DCCB</td>
            <td>Staff Assistant/Clerks - 50 Posts</td>
            <td>Any Graduate</td>
            <td>-</td>
            <td>22-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>26/12/2024</td>
            <td>Visakhapatnam Port Authority</td>
            <td>Trade Apprentices - 20 Posts</td>
            <td>ITI</td>
            <td>-</td>
            <td>18-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>06/01/2025</td>
            <td>HMFW, East Godavari</td>
            <td>Lab Technician Gr-II, FNO & SAW - 61 Posts</td>
            <td>10TH, Diploma, Bachelor Degree or Master Degree</td>
            <td>01/2024</td>
            <td>20-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>07/01/2025</td>
            <td>AIIMS, Mangalagiri</td>
            <td>Senior Residents/Senior Demonstrators - 73 Posts</td>
            <td>MD/ MS/ DM/ M.Ch/ DNB (Relevant Discipline)</td>
            <td>MD/MS/DM/M.Ch/DNB (Relevant Discipline)</td>
            <td>23-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>09/01/2025</td>
            <td>APCOB</td>
            <td>Staff Assistant/Clerks and Assistant Manager - 251 Posts</td>
            <td>Graduate (Relevant Subject)</td>
            <td>-</td>
            <td>22-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>09/01/2025</td>
            <td>HMFMW, AP</td>
            <td>FNO and Sanitary Attender cum Watchman - 29 Posts</td>
            <td>.</td>
            <td>-</td>
            <td>20-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>13/01/2025</td>
            <td>Guntur DCCB</td>
            <td>Staff Assistant /Clerk - 50 Posts</td>
            <td>Graduation in any discipline</td>
            <td>-</td>
            <td>22-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>13/01/2025</td>
            <td>Guntur DCCB</td>
            <td>Assistant Managers - 31 Posts</td>
            <td>Graduate from a recognized university (or) commerce graduate</td>
            <td>-</td>
            <td>22-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
          
      </tbody>
  </table>
</body>
</html>