<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_AS_state</title>
    <link rel="stylesheet" href="/admin_OD_state.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a onclick="window.location.href='/Adminaccount'"> Account</a></li>
            <li><a onclick="window.location.href='/AdminResetpassword'"> Reset Password</a></li>
            <li><a onclick="window.location.href='/Adminmanageuser'"> Manage Users</a></li>
            <li><a onclick="window.location.href='/AlertUser'"> Alert User</a></li>
            <li><a onclick="window.location.href='/Userissue'"> User Issue</a></li>
            <li><a onclick="window.location.href='/Adminmanagecontent'"> Manage Content</a></li>
            <li><a class="logout"> Logout</a></li>
        </ul>
        <div class="navbar-search">
            <form action="/adminsearch" method="GET" class="navbar-search">
                <input type="text" name="query" id="searchInput" placeholder="Search..." required>
                <button type="submit" class="btn btn-warning" id="searchbtn">Search</button>
            </form>
        </div>
    </nav>

    <div class="parent">
        <h3 class="Edithead">Edit AS Page Contents</h3>
    </div> 

    <div class="container0">
        <h1 id="headname">Latest Odisha Government Jobs</h1>
        <div class="header">New Updates</div>
        
        <div class="updates">
            <ul>
                <li><a href="#">IMMT JSA 2025 Apply Online</a></li>
                <li><a href="#">High Court Of Orissa Law Researcher Offline Form</a></li>
                <li><a href="#">AIIMS Bhubaneswar Faculty Apply Online</a></li>
                <li><a href="#">OPSC Post Graduate Teacher 2024 Answer Key</a></li>
                <li><a href="#">OPSC Lecturer 2025 DV & Interview Date</a></li>
                <li><a href="#">SSB, Odisha Laboratory Assistant 2024 Admit Card</a></li>
                <li><a href="#">East Coast Railway 2024 Result</a></li>
                <li><a href="#">OSSC 7540 LTR Apply Now</a></li>
                <li><a href="#">OSSSC 2279 Vacancies Apply</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="grid-container">
      <div class="grid-item item1">IMMT JSA 2025 Apply<br>Online</div>
      <div class="grid-item item2">AIIMS Bhubaneswar<br>Faculty Apply Online</div>
      <div class="grid-item item3">OPSC Lecturer 2025 DV &<br>Interview Date</div>
      <div class="grid-item item4">East Coast Railway 2024<br>Result</div>
  </div>
  <div class="grid-container">
      <div class="grid-item item5">OSSC Traffic Constable<br>Admit Card</div>
      <div class="grid-item item6">OSSC CPGL 2023 Main<br>Written Exam Date</div>
      <div class="grid-item item7">OSSC 7540 LTR Apply Now</div>
      <div class="grid-item item8">OSSC Jr Stenographer<br>2024 Exam Date</div>
  </div>
  <div class="grid-container2">
    <div class="grid-item2 item9">Odisha Police SI Apply<br>Online</div>
</div>
<h1 id="tbh1">Odisha</h1>
<table>
    <thead>
        <tr>
            <th>Post Date</th>
            <th>Recruitment Board</th>
            <th>Post Name</th>
            <th>Qualification</th>
            <th>Advt No</th>
            <th>Last Date</th>
            <th>More Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10/02/2025</td>
            <td>NIT Rourkela</td>
            <td>Medical Officer - 2 Posts</td>
            <td>MBBS</td>
            <td>NITR/ES/01/2025</td>
            <td>14-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>10/02/2025</td>
            <td>Paradip Port Authority</td>
            <td>Trainee VTS Operator/ VTS Operator - 4 Posts</td>
            <td>Other</td>
            <td>-</td>
            <td>05-03-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>08/02/2025</td>
            <td>Sainik School Bhubaneswar</td>
            <td>PGT, Nursing Sister</td>
            <td>B.Tech/B.E, M.Sc, MCA</td>
            <td>-</td>
            <td>28-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>06/02/2025</td>
            <td>AIIMS Bhubaneswar</td>
            <td>Senior Residents (Non - Academic) - 100 Posts</td>
            <td>DNB, Master of Dental Surgery, MS/MD</td>
            <td>-</td>
            <td>23-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>06/02/2025</td>
            <td>Directorate Of Enforcement</td>
            <td>System Analyst, Scientific Technical Assistant - 7 Posts</td>
            <td>MCA, BCA, B.Tech/B.E, M.Sc</td>
            <td>-</td>
            <td>20-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>06/02/2025</td>
            <td>NTPC</td>
            <td>General Duty Medical Officer - 1 Posts</td>
            <td>MBBS</td>
            <td>-</td>
            <td>19-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>06/02/2025</td>
            <td>SAIL</td>
            <td>Super Specialist, Specialist - 2 Posts</td>
            <td>DNB, PG Diploma, M.Ch, DM</td>
            <td>02/2025</td>
            <td>24-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>05/02/2025</td>
            <td>ICAR NRRI</td>
            <td>Agricultural Field Operator, Young Professional - Posts</td>
            <td>B.Sc, Diploma, M.Sc</td>
            <td>38/YP-I/YP-II/AFO/2024-25</td>
            <td>25-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>05/02/2025</td>
            <td>ICAR CIFA</td>
            <td>Communication Specialist, Aquaculture Specialist & other - 4 Posts</td>
            <td>Any Graduate, B.Com, Diploma, Any Post Graduate, MBA/PGDM</td>
            <td>-</td>
            <td>24-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>04/02/2025</td>
            <td>NIMR</td>
            <td>Project Technical Support - 55 Posts</td>
            <td>Any Graduate, ITI, DMLT, MLT</td>
            <td>-</td>
            <td>11-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>01/02/2025</td>
            <td>ICAR-NRRI</td>
            <td>Young Professional-1-01 Posts</td>
            <td>Any Bachelors Degree</td>
            <td>34/YP-I/2024-25</td>
            <td>10-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>31/01/2025</td>
            <td>CSIR IMMT</td>
            <td>Project Associate, Project Assistant, Senior Project Associate - 15 Posts</td>
            <td>B.Sc, B.Tech/B.E, Diploma, ITI, M.E/M.Tech, M.Phil/Ph.D</td>
            <td>PME/P75/2025</td>
            <td>02-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>

        <tr class="th2">
            <td>25/01/2025</td>
            <td>High Court of Orissa</td>
            <td>Law Researcher (History) - 1 Posts</td>
            <td>LLB/LLM</td>
            <td>12/1899</td>
            <td>07-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>27/01/2025</td>
            <td>CSIR-IMMT</td>
            <td>Junior Secretariat Assistant - 13 Posts</td>
            <td>12th</td>
            <td>01/2025</td>
            <td>08-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>27/01/2025</td>
            <td>NHM, Sundargarh</td>
            <td>Counsellor, Block Data Manager & Other - 12 Posts</td>
            <td>Any Degree, PG (Relevant Field)</td>
            <td>-</td>
            <td>01-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>23/01/2025</td>
            <td>Steel Authority of India Limited</td>
            <td>GDMO/Specialist - 3 Posts</td>
            <td>MBBS with MS/PG Degree</td>
            <td>04/2024</td>
            <td>27-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>22/01/2025</td>
            <td>ECHS, Gopalpur</td>
            <td>DEO, Peon & Other - 11 Posts</td>
            <td>8th/Diploma/Graduate/MBBS/DMLT/B.Pharm/D.Pharm</td>
            <td>-</td>
            <td>14-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>21/01/2025</td>
            <td>Utkal Cooperative Bank Ltd</td>
            <td>Junior Accounts Assistant - 20 Posts</td>
            <td>Diploma/graduate in Relevant discipline.</td>
            <td>-</td>
            <td>07-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>24/01/2025</td>
            <td>IOCL</td>
            <td>Trade/Technician/Graduate Apprentice - 382 Posts</td>
            <td>10th pass, ITI, Diploma, Any Degree</td>
            <td>IOCL/MKTG/ER/APPR/2024-25</td>
            <td>14-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>12/09/2024</td>
            <td>NLC India Ltd</td>
            <td>Graduate Executive Trainee (GET) - 167 Posts</td>
            <td>Degree (Relevant Engg)</td>
            <td>19/2024</td>
            <td>16-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>06/01/2025</td>
            <td>OPSC</td>
            <td>Assistant Industries Officer - 151 Posts</td>
            <td>B.E/B.Tech (Relevant Engg)</td>
            <td>-</td>
            <td>15-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>04/01/2025</td>
            <td>OSSC</td>
            <td>Trained Graduate Teachers (Science) - 33 Posts</td>
            <td>B.E/B.Tech/Bachelors' Degree in Science/B.Ed/M.Ed (Relevant Discipline)</td>
            <td>-</td>
            <td>31-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>02/01/2025</td>
            <td>OPSC</td>
            <td>Odisha Civil Services Exam 2024 - 200 Posts</td>
            <td>Any Degree</td>
            <td>Advt No: 07 of 2024-25</td>
            <td>10-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>28/12/2024</td>
            <td>OSSSC</td>
            <td>Sanskrit Teacher - 71 Posts</td>
            <td>Degree (Sanskrit)</td>
            <td>-</td>
            <td>31-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>

        <tr class="th2">
            <td>26/12/2024</td>
            <td>OSSSC</td>
            <td>Hindi Teacher - 83 Posts</td>
            <td>Any Degree</td>
            <td>-</td>
            <td>31-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>26/12/2024</td>
            <td>Indian Coast Guard</td>
            <td>Assistant, Leading Hand Fireman - 48 Posts</td>
            <td>Any Degree, 10TH</td>
            <td>-</td>
            <td>18-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>20/12/2024</td>
            <td>NALCO</td>
            <td>Non-Executive - 518 Posts</td>
            <td>ITI/Diploma/B.Sc (Relevant discipline)</td>
            <td>Advt No: 12240214</td>
            <td>21-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>20/12/2024</td>
            <td>AAI</td>
            <td>Junior Assistant (Fire Service) - 89 Posts</td>
            <td>10th, 12th Pass, Diploma (Mechanical/Automobile/Fire)</td>
            <td>ER/01/2024</td>
            <td>28-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>03/11/2024</td>
            <td>OSSC</td>
            <td>Combined Technical Service (Group B) - 760 Posts</td>
            <td>Diploma (Civil Engg)</td>
            <td>18/2024</td>
            <td>27-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>28/12/2024</td>
            <td>OSSSC</td>
            <td>Sevak/Sevika, Tribal Language Teachers - 2279 Posts</td>
            <td>-</td>
            <td>-</td>
            <td>31-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>07/01/2025</td>
            <td>OSSC</td>
            <td>Leave Training Reserve Teacher (LTR) - 7540 Posts</td>
            <td>Bachelor Degree in Arts/B.Ed/M.Ed (Relevant Discipline)</td>
            <td>Advt. No IIE-63/2024-4231</td>
            <td>05-02-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr>
            <td>24/12/2024</td>
            <td>Odisha Police</td>
            <td>SI, Asst Jailor & Other - 933 Posts</td>
            <td>-</td>
            <td>01/OPRB</td>
            <td>31-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>
        <tr class="th2">
            <td>10/01/2025</td>
            <td>OSSSC</td>
            <td>Trained Graduate Teachers (TGT Arts) - 29 Posts</td>
            <td>Bachelor's Degree in Arts/B.A/B.Ed/M.Ed</td>
            <td>-</td>
            <td>31-01-2025</td>
            <td><a href="#">Get Details</a></td>
        </tr>

    </tbody>
</table>


    <script scr="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>