<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_AS_state</title>
    <link rel="stylesheet" href="/admin_DL_state.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a onclick="window.location.href='/Adminaccount'"> Account</a></li>
            <li><a onclick="window.location.href='/AdminResetpassword'"> Reset Password</a></li>
            <li><a onclick="window.location.href='/Adminmanageuser'"> Manage Users</a></li>
            <li><a onclick="window.location.href='/Adminmanagecontent'"> Manage Content</a></li>
            <li><a class="logout"> Logout</a></li>
        </ul>
        <div class="navbar-search">
            <form action="/adminsearch" method="GET" class="navbar-search">
                <input type="text" name="query" id="searchInput" placeholder="Search..." required>
                <button type="submit" class="btn btn-warning" id="searchbtn">Search</button>
            </form>
        </div>
    </nav>

    <div class="parent">
        <h3 class="Edithead">Edit DL Page Contents</h3>
    </div>  

    <div class="container0">
        <h1 id="headname">Latest Delhi Government Jobs</h1>
        <div class="header">New Updates</div>
        
        <div class="updates">
            <ul>
                <li><a href="#">TMC, Kolkata Fellow, Consultant & Other Online Form 2025</a></li>
                <li><a href="#">NIEPA Lower Division Clerk Online Form 2025</a></li>
                <li><a href="#">IFCI Apprentice Online Form 2025</a></li>
                <li><a href="#">Delhi Cantonment Board Apply Online</a></li>
                <li><a href="#">RBIPMT Senior Resident and Junior Resident Vacancy 2025</a></li>
                <li><a href="#">DPHCL Various Vacancy Offline Form 2025</a></li>
                <li><a href="#">DU 137 Non Teaching 2024 Online Link Available</a></li>
                <li><a href="#">Delhi High Court Personal Assistant Interview Schedule</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="grid-container">
      <div class="grid-item item1">IOCL 246 Various Vacancy<br>Online Form 2025</div>
      <div class="grid-item item2">AAI 83 Junior Executive<br>Vacancy Online Form 2025</div>
      <div class="grid-item item3">DRDO ISSA Apprentices<br>Offline Form 2025</div>
      <div class="grid-item item4">BECIL MRT, Lab Attendant<br>& Other Offline Form 2025</div>
  </div>
  <div class="grid-container2">
      
      <div class="grid-item2 item5">DSSSB 432 PGT Apply</div>
  </div>
  <h1 id="tbh1">Delhi</h1>
    <table>
        <thead>
            <tr>
                <th>Post Date</th>
                <th>Recruitment Board</th>
                <th>Post Name</th>
                <th>Qualification</th>
                <th>Advt No</th>
                <th>Last Date</th>
                <th>More Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08/02/2025</td>
                <td>SIDBI</td>
                <td>Junior Level Officer - 1 Posts</td>
                <td>CA</td>
                <td>01/VFIV/41528</td>
                <td>23-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>08/02/2025</td>
                <td>Indian Air Force</td>
                <td>Agniveer Vayu (Sports) Intake 02/2025</td>
                <td>Diploma, 12TH</td>
                <td>-</td>
                <td>22-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>08/02/2025</td>
                <td>NSIC</td>
                <td>General Manager, Deputy Manager & Other - 51 Posts</td>
                <td>B.Tech/ B.E, CA, M.E/ M.Tech, MBA/ PGDM</td>
                <td>NSIC/HR/13/2025</td>
                <td>07-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>07/02/2025</td>
                <td>NFDC</td>
                <td>Executive, Manager & Other - 04 Posts</td>
                <td>Any Graduate, Any Masters Degree</td>
                <td>-</td>
                <td>15-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>07/02/2025</td>
                <td>CERC</td>
                <td>Advisor (Law) - 1 Posts</td>
                <td>LLB</td>
                <td>-</td>
                <td>07-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>07/02/2025</td>
                <td>CERC</td>
                <td>Research Associate, Research Officer and Senior Research Officer - 07 Posts</td>
                <td>LLB</td>
                <td>-</td>
                <td>07-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>07/02/2025</td>
                <td>Delhi Municipal Corporation</td>
                <td>Senior Residents & Junior Residents - 4 Posts</td>
                <td>MBBS, Diploma, DNB, MS/ MD</td>
                <td>-</td>
                <td>27-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>07/02/2025</td>
                <td>ICSIL</td>
                <td>DEO, Manager Claim and Law Graduate - 55 Posts</td>
                <td>Any Graduate, LLB, MBA/ PGDM</td>
                <td>-</td>
                <td>12-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
              <td>07/02/2025</td>
              <td>ERNET</td>
              <td>Dy. Administrative Officer</td>
              <td>Any Graduate, MBA/ PGDM</td>
              <td>-</td>
              <td>20-02-2025</td>
              <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
              <td>07/02/2025</td>
              <td>RRC Northern Railway</td>
              <td>Group D - 38 Posts</td>
              <td>10TH</td>
              <td>-</td>
              <td>09-03-2025</td>
              <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
              <td>07/02/2025</td>
              <td>NCRTC</td>
              <td>Group General Manager/ Operations Safety - 01 Posts</td>
              <td>B.Tech/ B.E</td>
              <td>02/2025</td>
              <td>06-03-2025</td>
              <td><a href="#">Get Details</a></td>
            </tr>


            <tr class="th2">
                <td>07/02/2025</td>
                <td>ITPO</td>
                <td>Young Professional (Hospitality) - 2 Posts</td>
                <td>Diploma, Any Post Graduate, MBA/PGDM</td>
                <td>-</td>
                <td>25-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>07/02/2025</td>
                <td>AAI</td>
                <td>Junior Consultant - 01 Posts</td>
                <td>M.A, M.Phil/Ph.D</td>
                <td>02/HR/2025/RHQ-SR</td>
                <td>21-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>06/02/2025</td>
                <td>Digital India Corporation</td>
                <td>Content Writer - 01 Posts</td>
                <td>Any Bachelors Degree, B.A, LLB</td>
                <td>-</td>
                <td>15-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>06/02/2025</td>
                <td>NHSRC</td>
                <td>Consultant</td>
                <td>M.A</td>
                <td>-</td>
                <td>26-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>06/02/2025</td>
                <td>ICMR</td>
                <td>Project Technical Support -III - 03 Posts</td>
                <td>Any Graduate</td>
                <td>-</td>
                <td>22-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>06/02/2025</td>
                <td>DTL</td>
                <td>Graduate Apprentice, Technician Apprentice - 30 Posts</td>
                <td>B.A, B.Com, B.Sc, B.Tech/B.E, Diploma</td>
                <td>-</td>
                <td>15-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>05/02/2025</td>
                <td>RVNL</td>
                <td>Manager/Dy. Manager (Mechanical) - 01 Posts</td>
                <td>B.Tech/B.E</td>
                <td>01/2025</td>
                <td>03-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>05/02/2025</td>
                <td>PMBI</td>
                <td>Executive, Asst Manager & Other - 33 Posts</td>
                <td>BCA, B.Pharma, B.Sc, M.E/M.Tech</td>
                <td>01/2025</td>
                <td>28-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>05/02/2025</td>
                <td>Delhi Municipal Corporation</td>
                <td>Junior Resident - 03 Posts</td>
                <td>BDS</td>
                <td>-</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>05/02/2025</td>
                <td>AIIMS Delhi</td>
                <td>Project Technical Support II/III - 4 Posts</td>
                <td>Any Graduate, Diploma, 12TH</td>
                <td>-</td>
                <td>15-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>05/02/2025</td>
                <td>HAL</td>
                <td>Director</td>
                <td>B.Tech/B.E, Any Post Graduate</td>
                <td>-</td>
                <td>28-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>05/02/2025</td>
                <td>IRCON</td>
                <td>Joint General Manager, Deputy General Manager - 4 Posts</td>
                <td>B.Tech/B.E, M.E/M.Tech</td>
                <td>25/2024</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr class="th2">
                <td>04/02/2025</td>
                <td>AAI</td>
                <td>Junior Assistant & Senior Assistant - 224 Posts</td>
                <td>Any Graduate, Diploma, 12TH, Any Masters Degree</td>
                <td>01/2025/NR</td>
                <td>05-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>04/02/2025</td>
                <td>NBPGR</td>
                <td>Junior Research Fellow - 01 Posts</td>
                <td>Any Post Graduate</td>
                <td>-</td>
                <td>23-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>04/02/2025</td>
                <td>ESIC Delhi</td>
                <td>Senior Resident, Specialist - 46 Posts</td>
                <td>DNB, MS/MD, DM</td>
                <td>-</td>
                <td>12-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>04/02/2025</td>
                <td>ICMR</td>
                <td>Project Technical Support III - 1 Posts</td>
                <td>Any Graduate, Any Post Graduate</td>
                <td>ICMR/eGov/IRRAS/2021/eOffice-130966</td>
                <td>17-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>04/02/2025</td>
                <td>Digital India Corporation</td>
                <td>Graphic Designer - 1 Posts</td>
                <td>Any Graduate</td>
                <td>DIC/Portal Team/04/2025/02</td>
                <td>19-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>04/02/2025</td>
                <td>Sports Authority of India</td>
                <td>Assessors - 3 Posts</td>
                <td>Diploma</td>
                <td>-</td>
                <td>17-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>04/02/2025</td>
                <td>AIIMS New Delhi</td>
                <td>Scientific Administrative Assistant</td>
                <td>B.Sc, MLT</td>
                <td>-</td>
                <td>18-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>03/02/2025</td>
                <td>Punjab and Sind Bank</td>
                <td>Psychologist</td>
                <td>M.A, M.Phil/Ph.D</td>
                <td>-</td>
                <td>08-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>03/02/2025</td>
                <td>AIIMS New Delhi</td>
                <td>Assistant Professor - 15 Posts</td>
                <td>MS/MD</td>
                <td>-</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>01/02/2025</td>
                <td>IOCL</td>
                <td>Jr Operator, Jr Attendant, and Jr Business Assistant - 246 Posts</td>
                <td>Any Graduate, ITI, 12TH</td>
                <td>-</td>
                <td>23-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>03/02/2025</td>
                <td>C-DAC</td>
                <td>Project Engineer, Project Technician & Other - 605 Posts</td>
                <td>Any Graduate, B.Tech/B.E, Any Post Graduate, M.E/M.Tech, M.Phil/Ph.D</td>
                <td>-</td>
                <td>20-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr>
                <td>01/02/2025</td>
                <td>Railway Recruitment Cell (RRC), Northern Railway</td>
                <td>GDMO - 03 Posts</td>
                <td>MBBS</td>
                <td>NRCH/2025</td>
                <td>11-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>01/02/2025</td>
                <td>Directorate Of Enforcement</td>
                <td>System Analyst & Scientific Technical Assistants - 07 Posts</td>
                <td>BCA, M.Sc, MCA</td>
                <td>57/4/2025-DLZO-I</td>
                <td>19-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>01/02/2025</td>
                <td>DMRC</td>
                <td>Assistant Manager - 01 Posts</td>
                <td>B.Tech/B.E, Diploma</td>
                <td>-</td>
                <td>21-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>31/01/2025</td>
                <td>ICMR</td>
                <td>Consultant, Project Research Scientist II - 8 Posts</td>
                <td>B.Tech/B.E, Any Post Graduate</td>
                <td></td>
                <td>21-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>31/01/2025</td>
                <td>BECIL</td>
                <td>Corporate Executive, Telephone Operator & Other - 06 Posts</td>
                <td>Any Graduate, B.Pharma, B.Sc, Any Post Graduate, M.Pharma</td>
                <td>503</td>
                <td>13-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>31/01/2025</td>
                <td>AAI</td>
                <td>Junior Executive - 83 Posts</td>
                <td>Any Graduate, B.Tech/B.E, Any Post Graduate, MBA/PGDM</td>
                <td>01/2025/CHQ</td>
                <td>18-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>31/01/2025</td>
                <td>ICSIL</td>
                <td>Sr. Project Associates - 02 Posts</td>
                <td>LLB, LLM</td>
                <td>-</td>
                <td>03-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>31/01/2025</td>
                <td>Indian Army</td>
                <td>58th SSC</td>
                <td>Not mentioned</td>
                <td>-</td>
                <td>15-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>31/01/2025</td>
                <td>NHAI</td>
                <td>Project Manager - 04 Posts</td>
                <td>B.Tech/B.E</td>
                <td>-</td>
                <td>11-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>31/01/2025</td>
                <td>CBIC</td>
                <td>Internship</td>
                <td>LLB</td>
                <td>-</td>
                <td>28-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr>
                <td>29/01/2025</td>
                <td>Sports Authority of India</td>
                <td>Performance Analyst - 9 Posts</td>
                <td>Any Graduate</td>
                <td>-</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>27/01/2025</td>
                <td>RBIPMT</td>
                <td>Senior Resident and Junior Resident - 13 Posts</td>
                <td>MBBS/PG Degree/DNB/Diploma in Relevant discipline</td>
                <td>2757/RBIPMT/2025</td>
                <td>06-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>25/01/2025</td>
                <td>SIDBI</td>
                <td>Theme Leader, Associate Manager - 2 Posts</td>
                <td>MSW/M.A</td>
                <td>-</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>25/01/2025</td>
                <td>NPS TRUST</td>
                <td>Officer Grade D-1 Posts</td>
                <td>B.E./B.Tech/MCA/M.Sc./M.Tech</td>
                <td>Advt No. 6/2025</td>
                <td>13-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>25/01/2025</td>
                <td>AIC</td>
                <td>Management Trainee - 55 Posts</td>
                <td>-</td>
                <td>-</td>
                <td>20-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>25/01/2025</td>
                <td>FPFO</td>
                <td>Young Professionals (Law)</td>
                <td>LLB/BA LLB</td>
                <td>-</td>
                <td>13-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>21/01/2025</td>
                <td>NIEPA</td>
                <td>Lower Division Clerk - 10 Posts</td>
                <td>12TH</td>
                <td>1/2025/NIEPA</td>
                <td>14-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>21/01/2025</td>
                <td>IFCI</td>
                <td>Apprentice - 3 Posts</td>
                <td>B.Com/BBA - Finance</td>
                <td>IFCI/2024-25/09</td>
                <td>30-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>17/01/2025</td>
                <td>ECHS, Delhi</td>
                <td>Lab Tech, Clerk & Other - 262 Posts</td>
                <td>Literate/8th/Diploma/Graduate/MBBS/MD/MS/DNB</td>
                <td>-</td>
                <td>22-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>17/01/2025</td>
                <td>NTPC</td>
                <td>Senior Executive (Commercial) - 8 Posts</td>
                <td>B.E/B.Tech, MBA/PGDM</td>
                <td>01/25</td>
                <td>04-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>23/01/2025</td>
                <td>NFDC</td>
                <td>Manager, Asst Manager & Other - 13 Posts</td>
                <td>10th/Graduate/Post Graduate degree (Relevant Discipline)</td>
                <td></td>
                <td>27-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr class="th2">
                <td>22/01/2025</td>
                <td>DPHCL</td>
                <td>Accounts Officer, Assistant & Other-10 Posts</td>
                <td>Graduate/ B.Tech/BE/ Diploma/MBA/ M.Com</td>
                <td>-</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>22/01/2025</td>
                <td>AIIMS, Delhi</td>
                <td>Data Manager, SRF & Project Technical Support - 10 Posts</td>
                <td>Graduate/Post Graduate in relevant Field</td>
                <td>-</td>
                <td>24-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>23/01/2025</td>
                <td>BEML Limited</td>
                <td>Junior Executive - 7 Posts</td>
                <td>MA</td>
                <td>Advt. No: KP/S/03/2025</td>
                <td>05-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>23/01/2025</td>
                <td>CMPFO</td>
                <td>Stenographer Grade-III & Social Security Assistant - 115 Posts</td>
                <td>12th/Any degree</td>
                <td>-</td>
                <td>15-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>23/01/2025</td>
                <td>BHEL</td>
                <td>General Manager (Law) - 1 Posts</td>
                <td>LLB</td>
                <td>Advt No BHEL/01/2025</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>23/01/2025</td>
                <td>AAI</td>
                <td>Chief of Flight Safety & Safety Manager - 2 Posts</td>
                <td>-</td>
                <td>-</td>
                <td>11-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>23/01/2025</td>
                <td>ESIC, New Delhi</td>
                <td>Asst & Associate Professor - 14 Posts</td>
                <td>BDS graduates having MSc degree (Relevant Discipline)</td>
                <td>-</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>21/01/2025</td>
                <td>Cantonment Board Delhi</td>
                <td>Doctor - 27 Posts</td>
                <td>MD/MS, PG Diploma, MBBS, DM, MCh.</td>
                <td>-</td>
                <td>25-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>24/01/2025</td>
                <td>IOCL</td>
                <td>Trade/Technician/Graduate Apprentice - 456 Posts</td>
                <td>10th pass, ITI, Diploma, Any Degree</td>
                <td>-</td>
                <td>13-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>23/01/2025</td>
                <td>BECIL</td>
                <td>Nursing Officer - 170 Posts</td>
                <td>B.Sc/ Diploma</td>
                <td>Advt. No 501</td>
                <td>04-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>15/01/2025</td>
                <td>Supreme Court of India</td>
                <td>AEE, Geophysicist - 90 Posts</td>
                <td>Degree (Law)</td>
                <td>-</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr>
                <td>10/01/2025</td>
                <td>CSIR-CRRI</td>
                <td>Probationary Engineer - 23 Posts</td>
                <td>M.E./M.Tech/Ph.D.</td>
                <td>Ad No. 06/PC/SCT-2024</td>
                <td>25-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>09/01/2025</td>
                <td>Hindu Rao Hospital Delhi</td>
                <td>Data Entry Operator, JE & Other Posts - 57 Posts</td>
                <td>-</td>
                <td>-</td>
                <td>10-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>09/01/2025</td>
                <td>DSSSB</td>
                <td>Tenure Based Diploma Project Engineer - 7 Posts</td>
                <td>Bachelor Degree in Library Science</td>
                <td>Advt No: 09/2024</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>08/01/2025</td>
                <td>North DMC Medical College</td>
                <td>Survey Engineer, Electrical Engineer and Other Posts - 20 Posts</td>
                <td>MD/MS (Concern Specialty).</td>
                <td>-</td>
                <td>30-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>08/01/2025</td>
                <td>AIIMS, New Delhi</td>
                <td>65th SSC (Tech-Men) & 36th SSC (Tech Women) Oct - 220 Posts</td>
                <td>MBBS/ BDS (Relevant Discipline)</td>
                <td>F.01/2025-Acad.I</td>
                <td>20-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>08/01/2025</td>
                <td>NIELIT</td>
                <td>Engineer, Manager & Other</td>
                <td>Any Degree/ B.E / B.Tech/ME/ M.Tech/MCA</td>
                <td>-</td>
                <td>15-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>08/01/2025</td>
                <td>NHSRC</td>
                <td>Mining Sirdar, Electrician & Other Posts - 17 Posts</td>
                <td>B.Sc, BCA, Any Master Degree, PhD</td>
                <td>-</td>
                <td>14-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>08/01/2025</td>
                <td>NHSRC</td>
                <td>Junior Engineer, Accounts Officer and Other Post - 18 Posts</td>
                <td>M.Sc. in Statistics, MBBS with Diploma, MBBS</td>
                <td>-</td>
                <td>14-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr>
                <td>10/01/2025</td>
                <td>CSIR-CRRI</td>
                <td>Probationary Engineer - 23 Posts</td>
                <td>M.E./M.Tech/Ph.D.</td>
                <td>Ad No. 06/PC/SCT-2024</td>
                <td>25-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>09/01/2025</td>
                <td>Hindu Rao Hospital Delhi</td>
                <td>Data Entry Operator, JE & Other Posts - 57 Posts</td>
                <td>-</td>
                <td>-</td>
                <td>10-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>09/01/2025</td>
                <td>DSSSB</td>
                <td>Tenure Based Diploma Project Engineer - 7 Posts</td>
                <td>Bachelor Degree in Library Science</td>
                <td>Advt No: 09/2024</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>08/01/2025</td>
                <td>North DMC Medical College</td>
                <td>Survey Engineer, Electrical Engineer and Other Posts - 20 Posts</td>
                <td>MD/MS (Concern Specialty).</td>
                <td>-</td>
                <td>30-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>08/01/2025</td>
                <td>AIIMS, New Delhi</td>
                <td>65th SSC (Tech-Men) & 36th SSC (Tech Women) Oct - 220 Posts</td>
                <td>MBBS/ BDS (Relevant Discipline)</td>
                <td>F.01/2025-Acad.I</td>
                <td>20-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>08/01/2025</td>
                <td>NIELIT</td>
                <td>Engineer, Manager & Other</td>
                <td>Any Degree/ B.E / B.Tech/ME/ M.Tech/MCA</td>
                <td>-</td>
                <td>15-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>08/01/2025</td>
                <td>NHSRC</td>
                <td>Mining Sirdar, Electrician & Other Posts - 17 Posts</td>
                <td>B.Sc, BCA, Any Master Degree, PhD</td>
                <td>-</td>
                <td>14-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>08/01/2025</td>
                <td>NHSRC</td>
                <td>Junior Engineer, Accounts Officer and Other Post - 18 Posts</td>
                <td>M.Sc. in Statistics, MBBS with Diploma, MBBS</td>
                <td>-</td>
                <td>14-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr class="th2">
                <td>30/12/2024</td>
                <td>BIS</td>
                <td>Assistant Engineer, Junior Officer and Other Posts - 6 Posts</td>
                <td>B.E/ B.Tech, MBA</td>
                <td>Advt. No. 05 (ME)/2024/HRD</td>
                <td>17-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>19/12/2024</td>
                <td>Supreme Court of India</td>
                <td>Engineer (Civil)-241 Posts</td>
                <td>Any Degree</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>14/12/2024</td>
                <td>ESIC, New Delhi</td>
                <td>Assistant Engineer, Police Constable & Other Posts - 287 Posts</td>
                <td>DNB/MD/MS/MDS/PG Degree/Ph.D (Concerned Subject)</td>
                <td>-</td>
                <td>31-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>31/12/2024</td>
                <td>DSSSB</td>
                <td>Engineer - 432 Posts</td>
                <td>Any Master Degree, B.A.B.Ed., B.Sc.B.Ed, M.Ed</td>
                <td>Advt No: 10/2024</td>
                <td>14-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>17/01/2025</td>
                <td>National Pension System Trust</td>
                <td>Engineer, Manager & Other - 19 Posts</td>
                <td>Any Master's Degree (Relevant Discipline)</td>
                <td>-</td>
                <td>05-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

        </tbody>
    </table>


    <script scr="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>