<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All India Govt job</title>
    <link rel="stylesheet" href="/All_India_Govt_job_CSS.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <h3>DreamJob.com</h3>
        </div>
        <div class="home-btn">
            <button type="button" onclick="window.location.href='/'" class="btn btn-warning" id="hh"><i class="fa-solid fa-house"></i> Home</button>
            <button type="button" onclick="window.location.href='/ContactUs'" class="btn btn-warning" id="dd"> Contact Us</button>            
        </div>   
    
        <div class="navbar-search">
            <form action="/search" method="GET" class="navbar-search">
                <input type="text" name="query" id="searchInput" placeholder="Search..." required>
                <button type="submit" class="btn btn-warning" id="searchbtn">Search</button>
            </form>
            <button type="button" onclick="window.location.href='/UserLogin'" class="btn btn-warning" id="signup"><i class="fa-regular fa-circle-user"></i> User</button>
            <button type="button" onclick="window.location.href='/AdminLogin'" class="btn btn-warning" id="login"><i class="fa-regular fa-circle-user"></i> Admin</button>
        </div>
    </nav>

    <div id="stbt">
        <button type="button" onclick="window.location.href='/state/AP_state'" class="btn btn-outline-warning">AP</button>
        <button type="button" onclick="window.location.href='/state/AS_state'" class="btn btn-outline-warning">AS</button>
        <button type="button" onclick="window.location.href='/state/BR_state'" class="btn btn-outline-warning">BR</button>
        <button type="button" onclick="window.location.href='/state/CG_state'" class="btn btn-outline-warning">CG</button>
        <button type="button" onclick="window.location.href='/state/DL_state'" class="btn btn-outline-warning">DL</button>
        <button type="button" onclick="window.location.href='/state/GJ_state'" class="btn btn-outline-warning">GJ</button>
        <button type="button" onclick="window.location.href='/state/HP_state'" class="btn btn-outline-warning">HP</button>
        <button type="button" onclick="window.location.href='/state/HR_state'" class="btn btn-outline-warning">HR</button>
        <button type="button" onclick="window.location.href='/state/JH_state'" class="btn btn-outline-warning">JH</button>
        <button type="button" onclick="window.location.href='/state/KA_state'" class="btn btn-outline-warning">KA</button>
        <button type="button" onclick="window.location.href='/state/KL_state'" class="btn btn-outline-warning">KL</button>
        <button type="button" onclick="window.location.href='/state/MH_state'" class="btn btn-outline-warning">MH</button>
        <button type="button" onclick="window.location.href='/state/MP_state'" class="btn btn-outline-warning">MP</button>
        <button type="button" onclick="window.location.href='/state/OD_state'" class="btn btn-outline-warning">OD</button>
        <button type="button" onclick="window.location.href='/state/PB_state'" class="btn btn-outline-warning">PB</button>
        <button type="button" onclick="window.location.href='/state/RJ_state'" class="btn btn-outline-warning">RJ</button>
        <button type="button" onclick="window.location.href='/state/TN_state'" class="btn btn-outline-warning">TN</button>
        <button type="button" onclick="window.location.href='/state/TS_state'" class="btn btn-outline-warning">TS</button>
        <button type="button" onclick="window.location.href='/state/UK_state'" class="btn btn-outline-warning">UK</button>
        <button type="button" onclick="window.location.href='/state/UP_state'" class="btn btn-outline-warning">UP</button>
        <button type="button" onclick="window.location.href='/state/WB_state'" class="btn btn-outline-warning">WB</button>
    </div>
    
    <div id="jbt">
        <button type="button" onclick="window.location.href='/jobs/All_India_Govt_job'" class="btn btn-outline-warning">All India Govt Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/State_Govt_Job'" class="btn btn-outline-warning">State Govt Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Bank_Job'" class="btn btn-outline-warning">Bank Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Teaching_Job'" class="btn btn-outline-warning">Teaching Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Engineering_Job'" class="btn btn-outline-warning">Engineering Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Railways_Job'" class="btn btn-outline-warning">Railways Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Police_Defence_Job'" class="btn btn-outline-warning">Police/Defence Jobs</button>
    </div>
<div class="contfather">
    <div class="container0">
        <div class="row2">
            <div class="column0">
                <h2>Notifications</h2>
                <ul>
                    <li><a onclick="window.location.href='/Latestnotification'">Latest Notifications</a></li>
                    <li><a onclick="window.location.href='/Upcomingnotification'">Upcoming Notifications</a></li>
                    <li><a onclick="window.location.href='/Notificationstatus'">Notification Status</a></li>
                </ul>
            </div>
            <div class="column0">
                <h2>Latest Announcements</h2>
                <ul>
                    <li><a onclick="window.location.href='/Cutoffmarks'">Cutoff Marks</a></li>
                    <li><a onclick="window.location.href='/Interviewresults'">Interview Results</a></li>
                    <li><a onclick="window.location.href='/Admitcard'">Admit Card</a></li>
                </ul>
            </div>
            <div class="column0">
                <h2>Others</h2>
                <ul>
                    <li><a onclick="window.location.href='/Eligibility'">Eligibility</a></li>
                    <li><a onclick="window.location.href='/Selectionprocess'">Selection Process</a></li>
                </ul>
            </div>
        </div>

                <div class="container" id="co">
                    <div class="header">All India Govt Jobs</div>
                </div>
            </div>
    </div>
            <div class="grid-container">
                <div class="grid-item item1">AAI 89 Junior (Fire Service) <br>2025 Online Form </div>
                <div class="grid-item item2">Indian Navy Group C <br> Online Form 2025</div>
                <div class="grid-item item3">Indian Army Agniveer <br> Online Form 2025</div>
                <div class="grid-item item5">IOCL 200 Apprentice<br>Online Form 2025</div>
            </div>
            <div class="grid-container">
                <div class="grid-item item6">ITBP 133 Constable <br>Online Form 2025</div>
                <div class="grid-item item7">PNB 359 SO <br>Online Form 2025</div>
                <div class="grid-item item5">TMB 124 SCSE||<br>Online Form 2025</div>
                <div class="grid-item item6">DFCCIL 642 Various Vacancy <br>Online Form 2025</div>
            </div>
            <div class="grid-container">
                <div class="grid-item item7">NCB Inspector and Sublnspector <br>Offline Form 2025</div>
            </div>
        </div>
        <br>
        <h2 id="tbh1">UPSC</h2>
        <table>
            <thead>
                <tr>
                    <th>Post Date</th>
                    <th>Recruitment Board</th>
                    <th>Exam / Post Name</th>
                    <th>Qualification</th>
                    <th>Advt No</th>
                    <th>Last Date</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22/03/2025</td>
                    <td>UPSC</td>
                    <td>Lecturer – 4 Posts</td>
                    <td>M.A</td>
                    <td>02/2025</td>
                    <td>10-04-2025</td>

                </tr>
            </tbody>
        </table>
        <br>
        <h2 id="tbh1">SSC</h2>
        <table>
            <thead>
                <tr>
                    <th>Post Date</th>
                    <th>Recruitment Board</th>
                    <th>Exam / Post Name</th>
                    <th>Qualification</th>
                    <th>Advt No</th>
                    <th>Last Date</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22/03/2025</td>
                    <td>SSC</td>
                    <td>CSCS Cadre</td>
                    <td>Other</td>
                    <td>-</td>
                    <td>10-04-2025</td>

                </tr>
            </tbody>
        </table>
        <br>
        <h2 id="tbh1">Other All India </h2>
        <table>
            <thead>
                <tr>
                    <th>Post Date</th>
                    <th>Recruitment Board</th>
                    <th>Exam / Post Name</th>
                    <th>Qualification</th>
                    <th>Advt No</th>
                    <th>Last Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07/04/2025</td>
                    <td>MECON</td>
                    <td>Executives – 02 Posts</td>
                    <td>B.Sc, B.Tech/B.E, Any Post Graduate, PG Diploma</td>
                    <td>11.73.4.3/2025/Reg/02</td>
                    <td>07-05-2025</td>

                </tr>

                <tr>
                    <td>07/04/2025</td>
                    <td>NCRTC</td>
                    <td>Assistant, JE and More – 72 Posts</td>
                    <td>BCA, B.B.A, B.Sc, Diploma, ITI, BBM</td>
                    <td>NCRTC/CO/HR/Rectt./O&M.13/2025</td>
                    <td>24-04-2025</td>

                </tr>
                <tr>
                    <td>07/04/2025</td>
                    <td>IDBI Bank</td>
                    <td>SO – 119 Posts</td>
                    <td>Any Graduate, BCA, B.Sc, B.Tech/B.E, LLB, Any Post Graduate, CA, ICWA, M.Sc, MBA/PGDM</td>
                    <td>01/2025-26</td>
                    <td>20-04-2025</td>

                </tr>
                <tr>
                    <td>07/04/2025</td>
                    <td>RRB</td>
                    <td>ALP – 9970 Posts</td>
                    <td>Any Graduate, Diploma, ITI</td>
                    <td>CEN No. 01/2025 (ALP)</td>
                    <td>09-05-2025</td>

                </tr>
                <tr>
                    <td>07/04/2025</td>
                    <td>AAI</td>
                    <td>Junior Executive – 309 Posts</td>
                    <td>B.Sc, B.Tech/B.E</td>
                    <td>02/2025/CHQ</td>
                    <td>24-05-2025</td>

                </tr>
                <tr>
                    <td>07/04/2025</td>
                    <td>MECON</td>
                    <td>Consultant, Senior Medical Officer – 02 Posts</td>
                    <td>MBBS, DNB, MS/MD</td>
                    <td>11.73.4.7/2025/Reg/01</td>
                    <td>07-05-2025</td>

                </tr>
                <tr>
                    <td>05/04/2025</td>
                    <td>AAI</td>
                    <td>Junior Assistant (Fire Service) – 89 Posts</td>
                    <td>Diploma, 12TH, 10TH</td>
                    <td>ER/01/2024</td>
                    <td>11-04-2025</td>

                </tr>
                <tr>
                    <td>05/04/2025</td>
                    <td>NLC</td>
                    <td>Junior Overman, Mining Sirdar – 171 Posts</td>
                    <td>Any Graduate, Diploma</td>
                    <td>22/2024</td>
                    <td>14-05-2025</td>

                </tr>
                <tr>
                    <td>05/04/2025</td>
                    <td>RITES</td>
                    <td>Manager/ Senior Manager/ Assistant Manager – 16 Posts</td>
                    <td>Other</td>
                    <td>–</td>
                    <td>17-05-2025</td>

                </tr>
                <tr>
                    <td>05/04/2025</td>
                    <td>Punjab and Sind Bank</td>
                    <td>Defence Banking Advisors – 05 Posts</td>
                    <td>Any Graduate</td>
                    <td>–</td>
                    <td>20-04-2025</td>

                </tr>
                <tr>
                    <td>04/04/2025</td>
                    <td>HAL</td>
                    <td>Operator, Diploma Technician – 98 Posts</td>
                    <td>Diploma, ITI</td>
                    <td>A/HR/TBP/01/2025</td>
                    <td>18-04-2025</td>

                </tr>
            </tbody>
        </table>
        <br>
        <h2 id="tbh1">All India Fellow</h2>
        <table>
            <thead>
                <tr>
                    <th>Post Date</th>
                    <th>Recruitment Board</th>
                    <th>Exam / Post Name</th>
                    <th>Qualification</th>
                    <th>Advt No</th>
                    <th>Last Date</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07/04/2025</td>
                    <td>BOBCAPS</td>
                    <td>IT Programmer</td>
                    <td>B.Tech/B.E</td>
                    <td>–</td>
                    <td>11-04-2025</td>
                </tr>

                <tr>
                <td>04/04/2025</td>
                <td>CBHFL</td>
                <td>Manager, Officer and Other – 212 Posts</td>
                <td>Any Graduate, B.Tech/B.E, LLB, 12TH, CA</td>
                <td>–</td>
                <td>25-04-2025</td>
                </tr>

                <tr>
                    <td>31/03/2025</td>
                    <td>NaBFID</td>
                    <td>Officers – 04 Posts</td>
                    <td>Diploma, Any Post Graduate, CA</td>
                    <td>–</td>
                    <td>21-04-2025</td>
                </tr>

                <tr>
                    <td>25/03/2025</td>
                    <td>CFSL</td>
                    <td>Manager, Business Development Executive and Other – 03 Posts</td>
                    <td>Any Graduate, CA, MBA/PGDM</td>
                    <td>CENTFIN: 2024-25:6</td>
                    <td>25-04-2025</td>
                </tr>

                <tr>
                    <td>22/03/2025</td>
                    <td>Sirsi Urban Sahakari Bank</td>
                    <td>Front Desk Associate – 50 Posts</td>
                    <td>B.A, B.B.A, B.Com, B.Sc</td>
                    <td>–</td>
                    <td>08-04-2025</td>

                </tr>
            </tbody>
        </table>

        <footer>
            <p style="color: red;">Notice: Always type .Com after DreamJob. Beware of duplicate websites with DreamJob name. DreamJob.Com is the ONLY Official website of DreamJob.Com</p>
            <p>DreamJob.Com provides free job alert service to job seekers in India on latest government jobs, on study material and on video lessons with online test. To get free job alert daily subscribe to our email job alert services.</p>
            <a onclick="window.location.href='/ContactUs'">Contact Us</a>
            <p>Copyright © 2024 DreamJob.Com All Rights Reserved.</p>
        </footer>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>