<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Update</title>
    <link rel="stylesheet" href="/newuser.css">
</head>
<body>
    <form action="/homepageupdatesnew" target = '_blank' method="POST" class="container">
        <h1>Add New Update</h1>
        <input placeholder="Enter New Update" name="NewUpdate">
        <button type="submit">Add New Update</button>
    </form>
</body>
</html>