<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Grid</title>
    <link rel="stylesheet" href="/newuser.css">
</head>
<body>
    <form action="/homepagegridnew" target = '_blank' method="POST" class="container">
        <h1>Add New Grid</h1>
        <input placeholder="Enter New Grid" name="NewGrid">
        <button type="submit">Add Grid</button>
    </form>
</body>
</html>