<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="/newuser.css">
</head>
<body>
    <form action="/AlertUser" method="POST" class="container">
        <h1>Add New Alert</h1>
        <input placeholder="Enter Alert" name="Alert">
        <input placeholder="Enter Link" name="link">
        <button type="submit">Add Alert</button>
    </form>
</body>
</html>