<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TS</title>
    <link rel="stylesheet" href="/TS_state_css.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <h3>DreamJob.com</h3>
        </div>
        <div class="home-btn">
            <button type="button" onclick="window.location.href='/'" class="btn btn-warning" id="hh"><i class="fa-solid fa-house"></i> Home</button>
            <button type="button" onclick="window.location.href='/ContactUs'" class="btn btn-warning" id="dd">Contact Us</button>            
        </div>   
    
        <div class="navbar-search">
            <input type="text" placeholder="Search...">
            <button type="button" class="btn btn-warning" id="searchbtn">Search</button>
            <button type="button" onclick="window.location.href='/UserLogin'" class="btn btn-warning" id="signup"><i class="fa-regular fa-circle-user"></i> User</button>
            <button type="button" onclick="window.location.href='/AdminLogin'" class="btn btn-warning" id="login"><i class="fa-regular fa-circle-user"></i> Admin</button>
        </div>
    </nav>

    <div id="stbt">
        <button type="button" onclick="window.location.href='/state/AP_state'" class="btn btn-outline-warning">AP</button>
        <button type="button" onclick="window.location.href='/state/AS_state'" class="btn btn-outline-warning">AS</button>
        <button type="button" onclick="window.location.href='/state/BR_state'" class="btn btn-outline-warning">BR</button>
        <button type="button" onclick="window.location.href='/state/CG_state'" class="btn btn-outline-warning">CG</button>
        <button type="button" onclick="window.location.href='/state/DL_state'" class="btn btn-outline-warning">DL</button>
        <button type="button" onclick="window.location.href='/state/GJ_state'" class="btn btn-outline-warning">GJ</button>
        <button type="button" onclick="window.location.href='/state/HP_state'" class="btn btn-outline-warning">HP</button>
        <button type="button" onclick="window.location.href='/state/HR_state'" class="btn btn-outline-warning">HR</button>
        <button type="button" onclick="window.location.href='/state/JH_state'" class="btn btn-outline-warning">JH</button>
        <button type="button" onclick="window.location.href='/state/KA_state'" class="btn btn-outline-warning">KA</button>
        <button type="button" onclick="window.location.href='/state/KL_state'" class="btn btn-outline-warning">KL</button>
        <button type="button" onclick="window.location.href='/state/MH_state'" class="btn btn-outline-warning">MH</button>
        <button type="button" onclick="window.location.href='/state/MP_state'" class="btn btn-outline-warning">MP</button>
        <button type="button" onclick="window.location.href='/state/OD_state'" class="btn btn-outline-warning">OD</button>
        <button type="button" onclick="window.location.href='/state/PB_state'" class="btn btn-outline-warning">PB</button>
        <button type="button" onclick="window.location.href='/state/RJ_state'" class="btn btn-outline-warning">RJ</button>
        <button type="button" onclick="window.location.href='/state/TN_state'" class="btn btn-outline-warning">TN</button>
        <button type="button" onclick="window.location.href='/state/TS_state'" class="btn btn-outline-warning">TS</button>
        <button type="button" onclick="window.location.href='/state/UK_state'" class="btn btn-outline-warning">UK</button>
        <button type="button" onclick="window.location.href='/state/UP_state'" class="btn btn-outline-warning">UP</button>
        <button type="button" onclick="window.location.href='/state/WB_state'" class="btn btn-outline-warning">WB</button>
    </div>
    
    <div id="jbt">
        <button type="button" onclick="window.location.href='/jobs/All_India_Govt_job'" class="btn btn-outline-warning">All India Govt Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/State_Govt_Job'" class="btn btn-outline-warning">State Govt Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Bank_Job'" class="btn btn-outline-warning">Bank Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Teaching_Job'" class="btn btn-outline-warning">Teaching Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Engineering_Job'" class="btn btn-outline-warning">Engineering Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Railways_Job'" class="btn btn-outline-warning">Railways Jobs</button>
        <button type="button" onclick="window.location.href='/jobs/Police_Defence_Job'" class="btn btn-outline-warning">Police/Defence Jobs</button>
    </div>
<div class="contfather">
    <div class="container0">
        <div class="row2">
            <div class="column0">
                <h2>Notifications</h2>
                <ul>
                    <li><a href="#">Latest Notifications</a></li>
                    <li><a href="#">Upcoming Notifications</a></li>
                    <li><a href="#">Notification Status</a></li>
                </ul>
            </div>
            <div class="column0">
                <h2>Latest Announcements</h2>
                <ul>
                    <li><a href="#">Cutoff Marks</a></li>
                    <li><a href="#">Interview Results</a></li>
                </ul>
            </div>
            <div class="column0">
                <h2>Others</h2>
                <ul>
                    <li><a href="#">Eligibility</a></li>
                    <li><a href="#">Selection Process</a></li>
                </ul>
            </div>
        </div>
    
    <div class="container" id="co">
        <h1 id="headname">Latest Telangana Government Jobs</h1>
        <div class="header">New Updates</div>
        
        <div class="updates">
            <ul>
                <li><a href="#">NGRI Junior Stenographer Apply Online</a></li>
                <li><a href="#">TSPSC Extension Officer Answer Key</a></li>
        </div>
    </div>
</div>
    <div class="grid-container">
      <div class="grid-item item1">NGRI Junior Stenographer<br>Apply Online</div>
      <div class="grid-item item2">Telanagana 10th Class<br>Exam Date</div>
      <div class="grid-item item3">TSPSC Extension Officer<br>Answer Key</div>
      <div class="grid-item item4">Telangana High Court<br>Apply Online</div>
  </div>
  <h1 id="tbh1">Telangana</h1>
    <table>
        <thead>
            <tr>
                <th>Post Date</th>
                <th>Recruitment Board</th>
                <th>Post Name</th>
                <th>Qualification</th>
                <th>Advt No</th>
                <th>Last Date</th>
                <th>More Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>17/02/2025</td>
                <td>IIT Hyderabad</td>
                <td>Research Associate or Postdoctoral Fellow - 4 Posts</td>
                <td>M.Phil/ Ph.D</td>
                <td>-</td>
                <td>28-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>17/02/2025</td>
                <td>NIT Warangal</td>
                <td>Project Associate - 1 Posts</td>
                <td>M.Sc</td>
                <td>NITW/2025/ChE/MK/PA-Recruit/</td>
                <td>28-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>14/02/2025</td>
                <td>MANUU</td>
                <td>Lecturers-3 Posts</td>
                <td>B.Sc, B.Tech/ B.E, M.E/ M.Tech</td>
                <td>-</td>
                <td>24-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>14/02/2025</td>
                <td>IRCTC</td>
                <td>Qualified CA/CMA - 1 Posts</td>
                <td>CA</td>
                <td>-</td>
                <td>05-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>13/02/2025</td>
                <td>AIIMS Bibinagar</td>
                <td>Senior Resident - 75 Posts</td>
                <td>DNB, MS/ MD, M.Ch, DM</td>
                <td>-</td>
                <td>28-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>12/02/2025</td>
                <td>NIRD&PR</td>
                <td>Homeopathic Doctor - 01 Posts</td>
                <td>BHMS</td>
                <td>-</td>
                <td>18-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>12/02/2025</td>
                <td>MANUU</td>
                <td>PGT, TGT-3 Posts</td>
                <td>Any Graduate, B.Ed, M.Sc</td>
                <td>-</td>
                <td>20-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>12/02/2025</td>
                <td>IIT Hyderabad</td>
                <td>Project staff, Facility Manager and Facility Process Engineer - 04 Posts</td>
                <td>Any Bachelors Degree, B.Tech/ B.E, M.Sc, M.E/ M.Tech</td>
                <td>-</td>
                <td>26-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>12/02/2025</td>
                <td>MANAGE</td>
                <td>Junior Program Executive - 1 Posts</td>
                <td>Any Bachelors Degree</td>
                <td>-</td>
                <td>20-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>11/02/2025</td>
                <td>IIT Hyderabad</td>
                <td>Lab Assistant - 1 Posts</td>
                <td>ITI</td>
                <td>-</td>
                <td>15-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>10/02/2025</td>
                <td>NIT Warangal</td>
                <td>Junior Research Fellow -1 Posts</td>
                <td>B.Tech/B.E, M.E/M.Tech</td>
                <td>-</td>
                <td>14-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>10/02/2025</td>
                <td>IRCTC</td>
                <td>Hospitality Monitors - 6 Posts</td>
                <td>B.B.A, B.Sc, MBA/PGDM</td>
                <td>-</td>
                <td>04-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr>
                <td>08/02/2025</td>
                <td>East Central Railway</td>
                <td>Research Engineer cum Trainer - 7 Posts</td>
                <td>Not mentioned</td>
                <td>-</td>
                <td>24-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>07/02/2025</td>
                <td>AEC Schools</td>
                <td>Teachers</td>
                <td>B.Ed, BFA, B.El.Ed, D.El.Ed</td>
                <td>-</td>
                <td>21-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>06/02/2025</td>
                <td>NIT Warangal</td>
                <td>Field investigators - 04 Posts</td>
                <td>Any Graduate</td>
                <td>-</td>
                <td>25-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>06/02/2025</td>
                <td>MIDHANI</td>
                <td>ITI Trade Apprentice Trainees-120 Posts</td>
                <td>ITI</td>
                <td>MDN/HR/AT/02/25</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>05/02/2025</td>
                <td>CSIR IICT</td>
                <td>Junior Secretariat Assistant - 15 Posts</td>
                <td>12TH</td>
                <td>-</td>
                <td>03-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>05/02/2025</td>
                <td>CITD</td>
                <td>Faculty</td>
                <td>B.Tech/B.E, M.E/M.Tech</td>
                <td>-</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>05/02/2025</td>
                <td>NRDRM</td>
                <td>Computer Operator, Data Manager & Other - 13762 Posts</td>
                <td>Any Graduate, Diploma, 12TH, Any Post Graduate</td>
                <td>-</td>
                <td>24-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>05/02/2025</td>
                <td>Supreme Court of India</td>
                <td>Junior Court Assistant - 241 Posts</td>
                <td>Any Bachelors Degree</td>
                <td>F.6/2025-SC(RC)</td>
                <td>08-03-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>04/02/2025</td>
                <td>CSIR IICT</td>
                <td>Project Associate, Project Assistant & Other - 14 Posts</td>
                <td>B.Sc, B.Tech/B.E, ITI, M.Pharma, M.Sc, M.E/M.Tech</td>
                <td>01/2025</td>
                <td>10-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>04/02/2025</td>
                <td>NCCF</td>
                <td>Accountant, Field Officer and Sr. Accountant</td>
                <td>Any Bachelors Degree</td>
                <td>NCCF/HYD/ADMN/2024-07-02-25</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>03/02/2025</td>
                <td>NIPER Hyderabad</td>
                <td>Non-Faculty - 15 Posts</td>
                <td>Any Bachelors Degree, MBBS, B.Lib, 12TH, Any Masters Degree, M.Pharma, M.Sc, MVSC</td>
                <td>-</td>
                <td>23-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>03/02/2025</td>
                <td>ECIL</td>
                <td>Project Engineer & Technical Officer - 09 Posts</td>
                <td>B.Tech/B.E</td>
                <td>01/2025</td>
                <td>14-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr>
                <td>03/02/2025</td>
                <td>C-DAC</td>
                <td>Project Engineer, Project Technician & Other - 605 Posts</td>
                <td>Any Graduate, B.Tech/B.E, Any Post Graduate, M.E/M.Tech, M.Phil/Ph.D</td>
                <td>-</td>
                <td>20-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>01/02/2025</td>
                <td>NIRD&PR</td>
                <td>Associate Professor & Assistant Professor - 11 Posts</td>
                <td>Any Masters Degree, M.Phil/Ph.D</td>
                <td>NIRD&PR</td>
                <td>16-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>31/01/2025</td>
                <td>NFDB</td>
                <td>Monitoring & Evaluation Expert & Consultant Grade-I - 02 Posts</td>
                <td>B.Tech/B.E, MFSC</td>
                <td>-</td>
                <td>07-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>31/01/2025</td>
                <td>CSIR IICT</td>
                <td>Technical Assistant - 23 Posts</td>
                <td>B.Sc, Diploma</td>
                <td>01/2025</td>
                <td>28-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>31/01/2025</td>
                <td>UoH</td>
                <td>Faculty - 40 Posts</td>
                <td>M.Phil/Ph.D</td>
                <td>-</td>
                <td>20-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>27/01/2025</td>
                <td>Ordnance Factory, Medak</td>
                <td>Tool Designer - 2 Posts</td>
                <td>Diploma, BE (Mechanical Engg)</td>
                <td>Advertisement No-02/2025</td>
                <td>16-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>27/01/2025</td>
                <td>CSIR-National Geophysical Research Institute</td>
                <td>Junior Stenographer - 4 Posts</td>
                <td>12th or its equivalent and proficiency in Stenography</td>
                <td>06/2024</td>
                <td>31-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>24/01/2025</td>
                <td>SBI</td>
                <td>Trade Finance Officer - 150 Posts</td>
                <td>Any Degree</td>
                <td>-</td>
                <td>03-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>24/01/2025</td>
                <td>SBI</td>
                <td>Cryptography Operations Engineer - 4 Posts</td>
                <td>B.E/B.Tech</td>
                <td>Advt No 17/2024-25</td>
                <td>25-02-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

            <tr class="th2">
                <td>21/01/2025</td>
                <td>Prasar Bharati</td>
                <td>Senior Correspondent - 8 Posts</td>
                <td>Degree/PG Diploma</td>
                <td>-</td>
                <td>31-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>11/01/2025</td>
                <td>ECIL</td>
                <td>General Manager, Senior Manager - 10 Posts</td>
                <td>MBA/PG Degree/2 yrs PG Diploma in HR/PMIR/Chartered Accountant</td>
                <td>Advt No.28/2024</td>
                <td>31-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>03/01/2025</td>
                <td>Telangana High Court</td>
                <td>Assistants, Typist, and Other Posts - 1673 Posts</td>
                <td>10th Pass, 12th pass, Graduate (Relevant Discipline)</td>
                <td>-</td>
                <td>31-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr>
                <td>03/01/2022</td>
                <td>SBI</td>
                <td>Trade Finance Officer - 150 Posts</td>
                <td>Any Degree</td>
                <td>Advt No. CRPD/SCO/2024-25</td>
                <td>23-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>
            <tr class="th2">
                <td>30/12/2024</td>
                <td>RRC - South Central Railway</td>
                <td>Group C-2 Posts</td>
                <td>10th, 12th, ITI, Diploma, Any Degree</td>
                <td>-</td>
                <td>27-01-2025</td>
                <td><a href="#">Get Details</a></td>
            </tr>

        </tbody>
    </table>

    <footer>
        <p style="color: red;">Notice: Always type .Com after DreamJob. Beware of duplicate websites with DreamJob name. DreamJob.Com is the ONLY Official website of DreamJob.Com</p>
        <p>DreamJob.Com provides free job alert service to job seekers in India on latest government jobs, on study material and on video lessons with online test. To get free job alert daily subscribe to our email job alert services.</p>
        <p><a href="#">Policy</a> | <a href="#">Contact Us</a></p>
        <p>Copyright © 2024 DreamJob.Com All Rights Reserved.</p>
    </footer>

    <script scr="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>