<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" href="/User_account.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/Useraccount" id="Account"> Account</a></li>
            <li><a href="/UserResetpassword" id="edit-content"> Reset password</a></li>
            <li><a href="/ContactUs" id="update-content"> Contact Us</a></li>
            <li><a href="/UserdeleteAccount" id="delete-content"> Delete Account</a></li>
            <li><a class="logout"> Logout</a></li>
        </ul>
    </nav>

    <main class="content">
        <div class="welcome">
            <h1>Username: <%= user.username %></h1>
            <p>ID: <%= user.id %></p>
            <p>Email: <%= user.email %></p>
            <p>Password: <%= user.password %></p>
        </div>
    </main>

    <script src="/admin_panel.js"></script>
</body>
</html>
