body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #4b6cb7, #182848);
}

.nav-links {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 8px;
}

.nav-links a:hover {
    border: 2px solid #ddd;
    background: transparent;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    margin-right: 7px;
    padding: 6px;
    border: none;
    border-radius: 4px;
}

#searchbtn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#searchbtn:hover{
    border: 2px solid #ddd;
    background-color: rgb(239, 182, 36);
}

#searchbtn:active{
    border: 2px solid #ddd;
    background-color: rgb(181, 135, 19);
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.Edithead {
    background: rgb(255, 255, 255);
    max-width: 700px;
    text-align: center;
}


.grid-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.grid-item {
    padding: 30px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4B6CB7;  
    height: 90px;
    width: 260px;
}

.grid-item:hover{
    background-color: #3A5BA9; 
}

.grid-item:active{
    background-color: #233B6C; 
}

.item22{
    width: 260px;
    margin-right: 10px;
}

.item23{
    width: 260px;
    margin-left: 10px;
}