body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #4b6cb7, #182848);
}

.nav-links {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 8px;
}

.nav-links a:hover {
    border: 2px solid #ddd;
    background: transparent;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    margin-right: 7px;
    padding: 6px;
    border: none;
    border-radius: 4px;
}

#searchbtn{
    margin-top: 5px;
    margin-bottom: 5px;
}

#searchbtn:hover{
    border: 2px solid #ddd;
    background-color: rgb(239, 182, 36);
}

#searchbtn:active{
    border: 2px solid #ddd;
    background-color: rgb(181, 135, 19);
}

.homebtn{
    text-align: center;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

#stbt{
    text-align: center;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

#jbt{
    text-align: center;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
