body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #4b6cb7, #182848);
}

.nav-links {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 8px;
}

.nav-links a:hover {
    border: 2px solid #ddd;
    background: transparent;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    margin-right: 7px;
    padding: 6px;
    border: none;
    border-radius: 4px;
}

#searchbtn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#searchbtn:hover{
    border: 2px solid #ddd;
    background-color: rgb(239, 182, 36);
}

#searchbtn:active{
    border: 2px solid #ddd;
    background-color: rgb(181, 135, 19);
}

.container {
    width: 900px; 
    background: white;
    padding: 30px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid #ddd;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2c3e50;
    letter-spacing: 1px;
}

.alerts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

.alert-card {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.alert-card:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.alert-info p {
    margin: 4px;
}

.alert-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editbtn {
    background-color: #4b6cb7;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.editbtn:hover {
    background-color: #405a98;
}

.delete-btn {
    background-color: #4b6cb7;
    color: white;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: #405a98;
}

.adduser {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4b6cb7;
    color: white;
    border: none;
    border-radius: 5px;
}
