* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 730px;
    background-image: url('/Reset_password_bg_img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 400px;
}

.reset-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
}

.back-link {
    margin-top: 10px;
    font-size: 14px;
}

.back-link a {
    text-decoration: none;
    color: linear-gradient(90deg, #4b6cb7, #182848);
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}
