body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #4b6cb7, #182848);
}

.navbar-logo h3 {
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.home-btn {
    margin-right: 570px;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}

#hh{
    border: 0px;
    background: transparent;
    color: #ffffff;
}

#hh:hover {
    border: 2px solid #ddd;
    background: transparent;
}

#dd{
    margin-left: 5px;
    border: 0px;
    background: transparent;
    color: #ffffff;
}

#dd:hover {
    border: 2px solid #ddd;
    background: transparent;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    margin-right: 7px;
    padding: 6px;
    border: none;
    border-radius: 4px;
}

#searchbtn{
    margin-top: 6px;
    margin-bottom: 5px;
}

#searchbtn:hover{
    border: 2px solid #ddd;
    background-color: rgb(239, 182, 36);
}

#searchbtn:active{
    border: 2px solid #ddd;
    background-color: rgb(181, 135, 19);
}

#signup{
    margin-left: 5px;
    border: 0px;
    background: transparent;
    color: #ffffff;
}

#signup:hover {
    border: 2px solid #ddd;
    background: transparent;
}

#signup:active{
    border: 2px solid #ddd;
    background: transparent;
}

#login{
    margin-left: 5px;
    margin-right: 10px;
    border: 0px;
    background: transparent;
    color: #ffffff;
}

#login:hover {
    border: 2px solid #ddd;
    background: transparent;
}

#login:active{
    border: 2px solid #ddd;
    background-color: #182848;
}

#stbt{
    height: 50px;
    width: 1550px;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
}

#jbt{
    height: 50px;
    width: 1550px;
    padding-top: 10px;
    padding-left: 10px;
}

.container0 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-right: 20px;
}

.column0 {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.column0 h2 {
    background-color: #4b6cb7;
    color: white;
    padding: 10px;
    text-align: center;
}

.column0 ul {
    list-style-type: none;
    padding: 0;
}

.column0 li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.column0 a{
    text-decoration: none;
}

footer {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #2196F3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#lt-nav{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: white;
    padding: 20px;
    position: relative;
}

#tb1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

table {
    width: 95%;
    margin-left: 35px;
    margin-bottom: 20px;
    border: 0.1px solid #57d9eb;
}

th{
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #2196F3;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}